workflows/personal-invoice.json
{
  "name": "Personal Invoice",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "personal-invoice",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -336,
        -16
      ],
      "id": "14d993de-25f1-40e9-8a35-e9f36c6ced8c",
      "name": "Webhook",
      "webhookId": "personal-invoice"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Master Property Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "All Homes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Address",
              "lookupValue": "={{ $('Webhook').item.json.body.property_address }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        -16
      ],
      "id": "fa7a24c4-65c1-4cee-b04d-1c6289db3ac0",
      "name": "Get Property",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "YOUR_GOOGLE_SHEET_ID",
          "mode": "list",
          "cachedResultName": "Master Property Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 287887769,
          "mode": "list",
          "cachedResultName": "Accounts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/YOUR_GOOGLE_SHEET_ID/edit#gid=287887769"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Bank",
              "lookupValue": "={{ $('Get Property').item.json.Bank }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        80,
        -16
      ],
      "id": "125be803-ca95-40d3-8031-3e7549096f93",
      "name": "Get Bank",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $('Get Bank').item.json['Workbook ID'] }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "={{ $('Webhook').item.json.body.property_address }}",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "ITEM": "={{ $('Webhook').item.json.body.item }}",
            "SUB": "={{ $('Webhook').item.json.body.store_name }}",
            "PRICE": "={{ $('Webhook').item.json.body.price }}",
            "CLEARED": "X",
            "DATE": "={{ $('Webhook').item.json.body.date }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "ITEM",
              "displayName": "ITEM",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "SUB",
              "displayName": "SUB",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "PRICE",
              "displayName": "PRICE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CHECK #",
              "displayName": "CHECK #",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "CLEARED",
              "displayName": "CLEARED",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "INTEREST",
              "displayName": "INTEREST",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DATE",
              "displayName": "DATE",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "DRAW",
              "displayName": "DRAW",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        288,
        -16
      ],
      "id": "ebbc465e-a1ea-4f48-a5d4-5fe7628ac0e6",
      "name": "Append Expense Row",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "REDACTED_CREDENTIAL_ID",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n     \"success\": true,\n     \"message\": \"Expense added to property sheet\"\n   }",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        496,
        -16
      ],
      "id": "247dafdb-3066-46f5-bb97-7333c226bf3c",
      "name": "Respond to Webhook"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Property": {
      "main": [
        [
          {
            "node": "Get Bank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bank": {
      "main": [
        [
          {
            "node": "Append Expense Row",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append Expense Row": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "5ce89618-ea05-40d0-8178-abb0184c92be",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38336a295879c2ebdfed8c82e3ce4e30eed02601024aa696561c2e9529d21fbc"
  },
  "nodeGroups": [],
  "id": "CocZmRre3A7rgF6A",
  "tags": []
}