workflows/submit-inovice.json
{
  "name": "Submit Invoice",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "00fdec1a-192b-4b75-a3d6-4a4a537ad4d7",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -320,
        0
      ],
      "id": "4b45d0e5-fe27-4386-84ec-4549676f8bb9",
      "name": "Webhook",
      "webhookId": "00fdec1a-192b-4b75-a3d6-4a4a537ad4d7"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HGtYfSj8T-_itoNIWZNNv2pqfX8XFY6JQn1iPbRwWjk",
          "mode": "list",
          "cachedResultName": "Master Property Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HGtYfSj8T-_itoNIWZNNv2pqfX8XFY6JQn1iPbRwWjk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "All Homes",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HGtYfSj8T-_itoNIWZNNv2pqfX8XFY6JQn1iPbRwWjk/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -128,
        0
      ],
      "id": "d5196acd-e8c5-4b33-a06b-469a4c717bce",
      "name": "Get Property",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HCNUohHWcRXgzeY1",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1HGtYfSj8T-_itoNIWZNNv2pqfX8XFY6JQn1iPbRwWjk",
          "mode": "list",
          "cachedResultName": "Master Property Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HGtYfSj8T-_itoNIWZNNv2pqfX8XFY6JQn1iPbRwWjk/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 287887769,
          "mode": "list",
          "cachedResultName": "Accounts",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1HGtYfSj8T-_itoNIWZNNv2pqfX8XFY6JQn1iPbRwWjk/edit#gid=287887769"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "=Bank",
              "lookupValue": "={{ $('Get Property').item.json.Bank }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        304,
        0
      ],
      "id": "ef1e14c3-c7e4-4ca7-b8ed-1327f42e3b34",
      "name": "Get Bank",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "HCNUohHWcRXgzeY1",
          "name": "Google Sheets OAuth2 API"
        }
      }
    },
    {
      "parameters": {
        "resource": "bill",
        "operation": "create",
        "VendorRef": "={{ $('Webhook').item.json.body.vendor_id }}",
        "Line": [
          {
            "Description": "={{ $('Webhook').item.json.body.description }}",
            "Amount": "={{ $('Webhook').item.json.body.amount }}",
            "accountId": "12",
            "DetailType": "AccountBasedExpenseLineDetail"
          }
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.quickbooks",
      "typeVersion": 1,
      "position": [
        512,
        0
      ],
      "id": "1e62c0df-677c-40a7-a879-dbf26fc28580",
      "name": "Create Bill",
      "credentials": {
        "quickBooksOAuth2Api": {
          "id": "vVhrZUPW0nOUva6a",
          "name": "QuickBooks Online account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const address = $('Webhook').item.json.body.property_address;\nconst match = items.find(item => item.json.Address === address);\nreturn match ? [match] : [];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        80,
        0
      ],
      "id": "f1496bb5-2250-4d9d-8574-0c2d5b7f236b",
      "name": "Code in JavaScript"
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Get Property",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Property": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Bank": {
      "main": [
        [
          {
            "node": "Create Bill",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Bill": {
      "main": [
        []
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Get Bank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "d7e7d09c-d8fb-439a-9b2f-2752ac92932d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "38336a295879c2ebdfed8c82e3ce4e30eed02601024aa696561c2e9529d21fbc"
  },
  "nodeGroups": [],
  "id": "O2lCiRtiwuIeLsO0",
  "tags": []
}